{% load lookup_form %}
{% load static  %}

<nav class="navbar navbar-default">
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">iTravel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
      {% lookup_form request True %}

    
      <ul class="nav navbar-nav navbar-left">
        {% if user.is_authenticated %}
        {% comment %} <li><a href="{% url 'profile' %}">Profile </a></li> {% endcomment %}
        <li><a href="{% url 'activities:list' %}">Browse Activity</a></li>
        <li><a href="{% url 'categories:list' %}">Categories </a></li>
        <li><a href="{% url 'activities:create' %}">Add Activity </a></li>
        <li><a href="{% url 'posts:create' %}">Add Post </a></li>
        <li><a href="{% url 'logout' %}">Logout </a></li>
        {% comment %} <li><a href="{% url 'profile' %}"> {{user.userprofile}}</a></li> {% endcomment %}
        
        {% else %}
       
        <li><a href="{% url 'register' %}">Register </a></li>
        <li><a href="{% url 'login' %}">Login </a></li>
        {% endif %}
      </ul>
      
      <!--
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
